<% if (allrecs.length > 0) {%>
    <% allrecs.forEach((recref, index) => 
    { %>
        <product>
            <form action="/catalog/add" method="post" >
                <input type="hidden" name="product_id" value=<%= recref.product_id %> >
                <table>
                    <tr>
                        <td><%= recref.productname %></td>
                    </tr>
                    <tr>
                        <td colspan="2"><%= recref.productimage %></td>
                    </tr>
                    <tr>
                        <td colspan="2"><%= recref.description %></td>
                    </tr>
                    <tr>
                        <td><%= recref.weight %></td> 
                        <td><%= recref.length %></td>
                    </tr> 
                    <tr>
                        <td><%= recref.width %></td> 
                        <td><%= recref.price %></td>
                    </tr> 
                    <tr>
                        <td><%= recref.status %></td>
                    </tr> 
                    <tr>
                        <td><%= recref.packaging_id %></td>
                        <td><%= recref.category_id %></td>
                    </tr> 
                    <tr>
                        <td>
                            <a href='/product/<%= recref.product_id %>/show'>
                                Details
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Quantity: <input type="number" name="qty" size="3" required>
                        </td> 
                        <td>
                            <button type="submit" class="button2">
                                Add to Cart
                            </button>
                        </td>
                    </tr>
                </table>
            </form>
        </product>
    <% }); %>
<% } %>