<h1> 
    Details 
</h1>

<table>
     <tr> 
         <td> orderdetailID: </td> 
         <td> <%= onerec.orderdetail_id %> </td> 
    </tr>
     <tr> 
         <td> Price: </td> 
         <td> <%= onerec.price %> </td> 
    </tr>
     <tr> 
         <td> Quantity: </td> 
         <td> <%= onerec.qty %> </td> 
    </tr>
     <tr> 
         <td> Product ID: </td>
        <td> <%= onerec.product_id %> </td> 
    </tr>
     <tr> 
         <td> Order ID: </td> 
         <td> <%= onerec.order_id %> </td> 
    </tr>
</table>