<h1> 
    Details 
</h1>

<table>
     <tr> 
         <td> ProductID: </td> 
         <td> <%= onerec.product_id %> </td> 
    </tr>
     <tr> 
         <td> Name: </td> 
         <td> <%= onerec.productname %> </td> 
    </tr>
     <tr> 
         <td> Image: </td> 
         <td> <%= onerec.productimage %> </td> 
    </tr>
     <tr> 
         <td> Description: </td> 
         <td> <%= onerec.description %> </td> 
    </tr>
     <tr> 
         <td> Weight: </td> 
         <td> <%= onerec.weight %> </td> 
    </tr>
     <tr> 
         <td> Length: </td> 
         <td> <%= onerec.length %> </td> 
    </tr>
     <tr> 
         <td> Width: </td> 
         <td> <%= onerec.width %> </td> 
    </tr>
     <tr> 
         <td> Price: </td> 
         <td> <%= onerec.price %> </td> 
    </tr>
     <tr> 
         <td> Status: </td> 
         <td> <%= onerec.status %> </td> 
    </tr>
     <tr> 
         <td> PackagingID: </td>
        <td> <%= onerec.packaging_id %> </td> 
    </tr>
     <tr> 
         <td> CategoryID: </td> 
         <td> <%= onerec.category_id %> </td> 
    </tr>
</table>