<h1> 
    Details 
</h1>

<form action="/review/custsubmit" method="post">
    <input type="hidden" name="product_id" value="<%= onerec.product_id %>" >
    <input type="submit" value="Submit Review">
</form>

<table>
     <tr> 
         <td> Product ID: </td> 
         <td> <%= onerec.product_id %> </td> 
    </tr>
     <tr> 
         <td> Name: </td> 
         <td> <%= onerec.productname %> </td> 
    </tr>
     <tr> 
         <td> Image: </td> 
         <td> <%= onerec.productimage %> </td> 
    </tr>
     <tr> 
         <td> Description: </td> 
         <td> <%= onerec.description %> </td> 
    </tr>
     <tr> 
         <td> Weight: </td> 
         <td> <%= onerec.weight %> </td> 
    </tr>
     <tr> 
         <td> Length: </td> 
         <td> <%= onerec.length %> </td> 
    </tr>
     <tr> 
         <td> Width: </td> 
         <td> <%= onerec.width %> </td> 
    </tr>
     <tr> 
         <td> Price: </td> 
         <td> <%= onerec.price %> </td> 
    </tr>
     <tr> 
         <td> Status: </td> 
         <td> <%= onerec.status %> </td> 
    </tr>
     <tr> 
         <td> Packaging ID: </td>
        <td> <%= onerec.packaging_id %> </td> 
    </tr>
     <tr> 
         <td> Category ID: </td> 
         <td> <%= onerec.category_id %> </td> 
    </tr>
    <tr> 
        <td> Homepage: </td> 
        <td> <%= onerec.homepage %> </td> 
   </tr>
</table>

<hr>

<h2>
    Product Reviews
</h2>

<% if (reviews.length > 0) {%>
    <table border="1">
     
            <tr>
                <th> Customer ID </th>
                <th> Review Date </th>
                <th> Rating </th>
                <th> Comments </th>
            </tr>
        <% reviews.forEach((recref, index) => { %>
            <tr>
                <td><%= recref.customer_id %></td>
                <td><%= recref.reviewdate %></td>
                <td><%= recref.rating %></td>
                <td><%= recref.comments %></td>
            </tr>
        <% }); %>
    </table>
<% } 
else { %>
    <p>No Reviews Available</p>
<% } %>

