<h1> 
    Details 
</h1>

<table>
     <tr> 
         <td> Packaging ID: </td> 
         <td> <%= onerec.packaging_id %> </td> 
    </tr>
     <tr> 
         <td> Tracking Number: </td> 
         <td> <%= onerec.tracking_number %> </td> 
    </tr>
     <tr> 
         <td> Shipper: </td> 
         <td> <%= onerec.shipper %> </td> 
    </tr>
     <tr> 
         <td> Packaging Weight: </td> 
         <td> <%= onerec.packagingweight %> </td> 
    </tr>
     <tr> 
         <td> Packaging Length: </td> 
         <td> <%= onerec.packaginglength %> </td> 
    </tr>
     <tr> 
         <td> Packaging Width: </td> 
         <td> <%= onerec.packagingwidth %> </td> 
    </tr>
    <tr> 
         <td> Order ID: </td> 
         <td> <%= onerec.order_id %> </td> 
    </tr>
</table>